.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.bgimage {
    width: 100%;
    height: 600px;
    background: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.0)), url('/static/img/NCRC.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgimage h1 {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.2));
    padding: 20px;
    color:white;
    text-shadow:2px 2px #222;
    font-size: 5em;
}
.content h2 {
    margin-top: 30px;
}

.content img {
    margin-top: 30px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 700px;
}
