.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.bgimage {
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0.0)), url('https://events.umich.edu/media/cache/group_large_lightbox/media/attachments/2018/09/group_4245_original.jpeg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgimage h2 {
    color:white;
    text-shadow:2px 2px #222;
}